html {
    font-family: 'Bebas Neue', cursive;
}

body {
    background-color: dodgerblue;
}

h1 {
    font-size: 120px;
    margin: 100px auto;
    display: block;
    text-align: center;
    text-shadow: 10px 8px 1px black;
    color: whitesmoke;
}